<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
    <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>
</head>
<body>
    <div class="headers">
        <h1>Quora Buddy</h1>
        <a style="align-self:last baseline; margin-right: 2rem; font-size: x-large;" href="http://localhost:2100/posts/new"><i class="ri-upload-2-fill"></i></a>
    </div>
    <% for(post of posts){ %>
        <div class="post">
            <div>
                <h4 class="user">
                @<%= post.username %>
            </h4>
            <p class="content">
                <%= post.content %>
            </p>
            </div>
            <div class="accessibility">
                <a href="http://localhost:2100/posts/<%= post.id %>">Details </a>
                <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                    <button style="cursor: pointer; border: none; background-color: transparent; font-size: larger; color: #393939;">
                        <i class="ri-delete-bin-fill"></i>
                    </button>
                </form>
            </div>
        </div>
        <% } %>
        <br>
</body>

</html>